:root {
  --main-c: hsl(35, 21%, 84%);
  --heading-c: hsl(236, 47%, 13%);
  --heading2-c:hsl(220, 23%, 26%);
  --links-c: hsl(0, 0%, 100%); 
  --letter-c: hsl(222, 30%, 16%);
  --navbar: hsl(35, 21%, 84%);
  --border: hsl(2, 55%, 44%);
  --yellowColor: rgb(206, 155, 14); 
}